[Unit]
Description=The Keycloak Server
After=syslog.target network.target


[Service]
Environment="KC_HTTPS_CERTIFICATE_FILE=/etc/letsencrypt/live/auth.dev-ops.kz/fullchain.pem"
Environment="KC_HTTPS_CERTIFICATE_KEY_FILE=/etc/letsencrypt/live/auth.dev-ops.kz/privkey.pem"
Environment=KC_HTTPS_PORT=443
User=root
Group=root
LimitNOFILE=102642
PIDFile=/var/run/keycloak/keycloak.pid
ExecStart=/opt/keycloak/bin/kc.sh start-dev

#StandardOutput=null

[Install]
WantedBy=multi-user.target
